div#screen {
  /* Dimensions */
  height: 400px;
  min-width: 430px;
  width: 100%;

  /* Spacing */
  padding: 40px;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Properties */
  position: relative;
  border: solid var(--bmo-black);
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  /* Coloring */
  background-color: var(--bmo-screen);
}
