div.input-container {
  width: 200px;
  height: 200px;
  border: solid;
  border-width: 6px;
}

div.input-container input {
    height: 100%;
    width: 100%;
    font-size: 150px;
    text-align: center;
    background-color: #00000000;
}
