div#blue-shape {
  /* Properties */
  border: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  /* Coloring */
  background-color: var(--bmo-blue);
}

div#green-shape {
  /* Properties */
  border: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  /* Coloring */
  background-color: var(--bmo-green);
}

div.small-shape {
  /* Dimensions */
  width: 1000px;
  height: 50px;
}

div.medium-shape {
  /* Dimensions */
  width: 1000px;
  height: 50px;
}

div.large-shape {
  /* Dimensions */
  width: 1000px;
  height: 50px;
}
