div#bmo-body {
  /* Dimensions */
  width: 100vw;
  height: 100vh;
  min-width: 470px;

  /* Spacing */
  padding: 10px 160px;

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /* Coloring */
  background-color: var(--bmo-cyan);
}

div#top-controls {
  /* Dimensions */
  width: 100%;
  min-width: 430px;

  /* Spacing */
  padding: 0 20px;

  /* Display */
  display: flex;
  flex-direction: row;
  gap: 20px;
}

div#mid-controls {
  /* Dimensions */
  width: 100%;
  min-width: 430px;

  /* Spacing */
  padding: 0 40px;

  /* Display */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div#player-hp {
  position: absolute;
  top: 10px;
  left: 50px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

div#inputs-container {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}